@font-face {
  font-family: "robotoregular";
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhandregular";
  src: url("../fonts/shrikhand-regular-webfont.woff2") format("woff2"), url("../fonts/shrikhand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "robotoregular", sans-serif;
  margin: 0;
}

#bloc_page {
  max-width: 1700px;
  margin: auto;
}
@media screen and (max-width: 980px) {
  #bloc_page {
    width: auto;
  }
}

.font_title {
  font-family: "shrikhandregular", cursive, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}

.btn [value] {
  min-width: 20%;
  color: #fff;
  border: none;
  font-size: 1.3rem;
  background: linear-gradient(-2deg, #9356dc, #ff79da);
  padding: 1rem 2rem;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 480px) {
  .btn [value] {
    font-size: 1.1rem;
  }
}
.btn [value]:hover {
  box-shadow: 6px 6px 15px 2px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
  transition: all 250ms;
}

header {
  display: flex;
  margin: 2rem;
}
@media screen and (max-width: 480px) {
  header {
    margin: 1rem 0 1rem 1.5rem;
  }
}
header a {
  font-size: 1.5rem;
}
header img {
  margin: auto;
}

footer {
  background-color: #353535;
  color: #fff;
  padding-bottom: 20px;
}
footer h1 {
  padding: 30px 0 0 40px;
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: normal;
}
@media screen and (max-width: 600px) {
  footer h1 {
    font-size: 1.2rem;
  }
}
footer i {
  margin-right: 0.4rem;
}
footer li {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 600px) {
  footer li {
    font-size: 1rem;
  }
}
footer li a {
  color: #fff;
}

.search_city {
  display: flex;
  background-color: #eaeaea;
  padding: 1rem 0;
  box-shadow: inset 0px 3px 5px -2px rgba(0, 0, 0, 0.2);
}
.search_city p {
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 1.2rem;
  color: #353535;
}
.search_city input {
  width: 160px;
  background-color: #eaeaea;
  border: none;
  font-size: 1.2rem;
  margin-left: 1rem;
}
.search_city input::placeholder {
  color: #353535;
  opacity: 1;
  /* pour Firefox */
  font-family: "robotoregular", sans-serif;
  font-weight: bold;
}

.expl {
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 980px) {
  .expl {
    display: block;
  }
}
.expl__txt {
  background-color: #f6f6f6;
  padding: 20px 50px;
  text-align: center;
  font-size: 1.5rem;
}
@media screen and (max-width: 980px) {
  .expl__txt {
    padding: 2rem;
    font-size: 1.1rem;
  }
}
.expl__txt--bold {
  font-family: "robotobold", sans-serif;
  font-size: 1.7rem;
}
@media screen and (max-width: 980px) {
  .expl__txt--bold {
    margin: 0;
  }
}
.expl__txt--grey {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 7rem;
}
@media screen and (max-width: 980px) {
  .expl__txt--grey {
    margin-bottom: 30px;
  }
}
.expl__fonct {
  margin-top: 20px;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "robotobold", sans-serif;
}
@media screen and (max-width: 980px) {
  .expl__fonct {
    display: block;
    margin: 50px 0 80px 0;
  }
}
@media screen and (max-width: 480px) {
  .expl__fonct {
    padding: 0 20px;
  }
}
.expl__fonct h2 {
  width: 100%;
  margin: 27.2px 0;
  font-size: 1.7rem;
}
.expl__fonct ol {
  counter-reset: fonct;
  padding: 0;
}
@media screen and (max-width: 980px) {
  .expl__fonct ol {
    padding-left: 20px;
  }
}
@media screen and (max-width: 415px) {
  .expl__fonct ol {
    padding-left: 10px;
  }
}
.expl__fonct li {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
  background-color: #f6f6f6;
  border-radius: 1.5rem;
  list-style-type: none;
  counter-increment: fonct;
  font-size: 1.2rem;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 980px) {
  .expl__fonct li {
    width: auto;
  }
}
@media screen and (max-width: 480px) {
  .expl__fonct li {
    padding: 1.5rem 0.5rem;
  }
}
@media screen and (max-width: 415px) {
  .expl__fonct li {
    font-size: 1.1rem;
  }
}
.expl__fonct li:before {
  content: counter(fonct);
  background-color: #9356dc;
  color: #fff;
  padding: 0.2rem 0.5rem 0.1rem 0.5rem;
  border-radius: 2rem;
  font-size: 0.9rem;
  position: relative;
  right: 40px;
}
@media screen and (max-width: 480px) {
  .expl__fonct li:before {
    right: 20px;
  }
}
.expl__fonct li i {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 1rem;
  font-size: 1.5rem;
}
@media screen and (max-width: 415px) {
  .expl__fonct li i {
    font-size: 1.2rem;
  }
}
.expl__fonct li:hover {
  background-color: rgba(147, 86, 220, 0.1);
  transition: background-color 250ms;
}
.expl__fonct li:hover > i {
  color: #9356dc;
  transition: color 250ms;
}

.cards-restau {
  height: auto;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (max-width: 980px) {
  .cards-restau {
    background-color: #f6f6f6;
  }
}
@media screen and (max-width: 600px) {
  .cards-restau {
    padding: 50px 0;
  }
}
.cards-restau h2 {
  width: 100%;
  font-family: "robotobold", sans-serif;
  font-size: 1.7rem;
}
@media screen and (max-width: 600px) {
  .cards-restau h2 {
    margin: 0 20px;
  }
}
.cards-restau a {
  width: 490px;
  height: auto;
  background-color: #fff;
  border-radius: 1rem;
  margin: 1.5rem;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 980px) {
  .cards-restau a {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .cards-restau a {
    width: 100%;
  }
}
.cards-restau a article {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 78% 22%;
  grid-template-rows: auto auto auto;
}
@media screen and (max-width: 415px) {
  .cards-restau a article {
    grid-template-columns: 72% 28%;
  }
}
.cards-restau img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
  object-position: bottom;
  border-radius: 1rem 1rem 0 0;
  grid-column: 1/span 2;
  grid-row: 1;
}
@media screen and (max-width: 480px) {
  .cards-restau img {
    height: 14rem;
  }
}
@media screen and (max-width: 415px) {
  .cards-restau img {
    height: 10rem;
  }
}
.cards-restau .img--position {
  object-position: center;
}
.cards-restau .new {
  grid-column: 2;
  grid-row: 1;
  border-radius: 0.2rem;
  background-color: #abe0d1;
  color: #3e8568;
  font-weight: bold;
  height: 1.5rem;
  font-size: 0.9rem;
  text-align: center;
  padding: 0.3rem 0.1rem 0 0.1rem;
  margin: 1rem 1rem 0 0;
}
@media screen and (max-width: 480px) {
  .cards-restau .new {
    padding: 0.3rem 0 0 0;
  }
}
.cards-restau h3 {
  grid-column: 1;
  grid-row: 2;
  font-family: "robotobold", sans-serif;
  margin: 20px 0 0 10px;
  font-size: 1.2rem;
}
.cards-restau p {
  grid-column: 1;
  grid-row: 3;
  margin: 0 0 20px 10px;
  font-size: 1.1rem;
}
.cards-restau i {
  grid-row: span 2;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
