@import "./utils/variables";
@import "./utils/mixins";
@import "./base/fonts";
@import "./base/base";


.search_bar {
    display: flex;
    background-color: #eaeaea;
    padding: 1rem 0;
    box-shadow: inset 0px 3px 5px -2px rgba(0, 0, 0, 0.2);
    p {
        display: flex;
        justify-content: center;
        margin: auto;
        font-size: 1.2rem;
        color: #353535;
    }
    input {
        width: 160px;
        background-color: #eaeaea;
        border: none;
        font-size: 1.2rem;
        margin-left: 1rem;
        &::placeholder {
            color: #353535;
            opacity: 1; /* pour Firefox */
            font-family: $font-text;
            font-weight: bold;
        }
    }
}




