/* PAGE MENU */

@keyframes menu-opacity {
    0% {
        opacity: 0;
    }
}
@keyframes menu_item {
    0% {
        transform: translate(-110%) scale(0);
    }
}

.img-menu {
    width: 100%;
    height: auto;
    object-fit: contain;
    @include tablette {
        height: 30rem;
        object-fit: cover;
    }
}
.menu {
    width: auto;
    position: relative;
    margin-top: -3rem;
    border-radius: 2.5rem 2.5rem 0 0;
    background-color: $color-bgc;
    padding: 0 20px 0 20px;
    display: block;
    @include desktop {
        padding: 0 50px 0 50px;
    }
    h2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 40px 0 0 0;
        font-size: 2rem;
        margin: 0 0 10px 0;
        @include desktop {
            justify-content: space-around;
        }
    }
}
.menu-aside {
    width: auto;
    padding-top: 20px;
    opacity: 1;
    margin: auto;
    animation: menu-opacity 1200ms cubic-bezier(.73,.01,.2,.99) both;
    &__h3 {
        text-transform: uppercase;
        font-size: 1.2rem;
        @include desktop {
            font-size: 1.5rem;
        }
    }
    &__h3::after {
        content: '';
        display: block;
        width: 40px;
        margin: 0;
        padding-top: .5rem;
        border-bottom: 3px solid $color-tertiary;
    }
    form {
        text-align: center;
        padding: 40px 0 80px 0;
            @include desktop {
                padding: 100px 0;
            }
    }
}

.order {
    max-width: none;
    display: flex;
    margin: auto;
    @include desktop {
        max-width: 50%;
    }
    article {
        width: 100%;
        background-color: #fff;
        border-radius: 1rem;
        margin: .5rem 0;
        padding: 15px 10px;
        animation: menu_item 1200ms cubic-bezier(.73,.01,.2,.99) both;
        @include box-shadow;
        h3 {
            font-family: $font-bold;
            font-size: 1.2rem;
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @include desktop {
                font-size: 1.5rem;
            }
        }
        .text-item {
            display: flex;
            justify-content: space-between;
        }
        p {
            margin: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @include desktop {
                font-size: 1.3rem;
            }
        }
        span {
            font-family: $font-bold;
            margin: 0 1rem;
            @include desktop {
                font-size: 1.3rem;
            }
        }
    }
    .menu1 {
        animation-delay: 300ms;
    }
    .menu2 {
        animation-delay: 700ms;
    }
    .menu3 {
        animation-delay: 1000ms;
    }
    .menu4 {
        animation-delay: 1200ms;
    }
    .order-bg {
        width: 15%;
        height: 100%;
        margin: auto;
        padding: .84rem 0;
        background-color: $color-tertiary;
        border-radius: 0 1rem 1rem 0;
        text-align: center;
        @include box-shadow;
        display: none;
    }
    .fa-check-circle {
        color: #fff;
        font-size: 1.2rem;
        padding: 1rem;
        @include desktop {
            font-size: 2rem;
        }
    }
    &:hover article {
        border-radius: 1rem 0 0 1rem;
        width: 85%;
        transition: width 500ms cubic-bezier(.05,.33,.89,1.03);
    }
    &:hover .order-bg {
        display: block;
        animation: order 500ms 100ms cubic-bezier(.05,.33,.89,1.03) both;
        opacity: 0;
    }
    .fa-check-circle{
        animation: check 800ms 300ms cubic-bezier(.05,.33,.89,1.03) ;
    }    
}

@keyframes order {
    100% {
        width: 15%;
        opacity: 1;
    }
}
@keyframes check {
    0% {
        transform: rotate(-360deg);
    }
    100% {
        
        transform: rotate(0deg);
    }
}
