.progress-heart {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: .11rem;
    background: -webkit-linear-gradient(-150deg, $color-primary, $color-secondary);
    -webkit-background-clip: text;
    transition : all 1000ms cubic-bezier(.05,.33,.89,1.03);
    background-repeat : no-repeat;
    background-size: 100% 0;
    background-position : 100% 100%; 
    cursor: pointer;
    padding: .1rem;
    &:hover {
        background-size: 100% 100%;
        -webkit-text-stroke-color: transparent;
    }
}


