@keyframes progressHeart {
    0% {
        background: -webkit-linear-gradient(150deg, rgba(147, 86, 220, .10), rgba(255, 121, 218, .10));
        -webkit-background-clip: text;
    }
    25% {
        background: -webkit-linear-gradient(150deg, rgba(147, 86, 220, .25), rgba(255, 121, 218, .25));
        -webkit-background-clip: text;
    }
    50% {
        background: -webkit-linear-gradient(150deg, rgba(147, 86, 220, .60), rgba(255, 121, 218, .60));
        -webkit-background-clip: text;
    }
    75% {
        background: -webkit-linear-gradient(150deg, rgba(147, 86, 220, .75), rgba(255, 121, 218, .75));
        -webkit-background-clip: text;
    }
    100% {
        background: -webkit-linear-gradient(150deg, rgba(147, 86, 220, 1), rgba(255, 121, 218, 1));
        -webkit-background-clip: text;
    }
}

.progress-heart {
        display: block;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #000;
    &:hover {
        animation: progressHeart 1200ms 150ms cubic-bezier(.01,.19,.07,1) forwards;
        cursor: pointer;
        transform-origin: bottom;
    }
}