.cards-restau {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    h2 {
        font-family: $font-bold;
        width: 100%;
        font-size: 1.7rem;
        margin-left: 5rem;
    }
    a {
        width: 580px;
        margin: 1rem;
        height: auto;
        border-radius: 1.5rem;
        @include box-shadow;
    }
    article {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    img {
        width: 100%;
        object-fit: cover;
        height: 16rem;
        border-radius: 1.5rem 1.5rem 0 0;
        position: relative;
    }
    .img--position {
        object-position: bottom;
    }
    .new {
        background-color: #abe0d1;
        color: #34896c;
        font-family: $font-bold;
        font-size: 1.5rem;
        text-align: center;
        padding: .5rem 1.5rem;
        border-radius: .2rem;
        position: absolute;
        min-width: 6rem;
        max-width: 6rem;
        margin-left: 26rem;
        margin-top: 1.5rem;
    }
    h3 {
        font-family: $font-bold;
        margin: 1.5rem 0 0 1rem;
    }
    p {
        margin: 0 0 0 1rem;
    }
}     