.cards-restau {
    height: auto;
    font-size: 1.3rem;
    background-color: $color-bgc;;
    padding: 1.5rem;
    @include desktop {
        padding: 5rem 0;
        background-color: #fff;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
    }
    h2 {
        font-family: $font-bold;
        font-size: 1.7rem;
        margin-left: 1.25rem;
        @include tablette {
            margin-left: 3.12rem;
        }
        @include desktop {
            width: 100%;
            margin-left: 5rem;
        }
    }
    a {
        width: 580px;
        margin: 1rem 1.25rem;
        height: auto;
        @include tablette {
            margin: 1rem 4rem;
        }
        @include desktop {
            margin: 1rem;
        }
    }
    article {
        display: flex;
        flex-direction: column;
        height: auto;
        background-color: #fff;
        border-radius: 1.5rem;
        @include box-shadow;
    }
    img {
        width: 100%;
        object-fit: cover;
        height: 12rem;
        border-radius: 1.5rem 1.5rem 0 0;
        @include tablette {
            height: 16rem;
        }
    }
    .img--position {
        object-position: bottom;
    }
    .new {
        align-self: flex-end;
        background-color: #abe0d1;
        color: #34896c;
        font-family: $font-bold;
        font-size: 1.2rem;
        text-align: center;
        padding: .5rem 1rem;
        border-radius: .2rem;
        min-width: 5rem;
        max-width: 5rem;
        position: absolute;
        margin-right: 1rem;
        margin-top: 1rem;
        @include desktop {
            padding: .5rem 1.5rem;
        }
    }
    h3 {
        font-family: $font-bold;
        margin: 1.5rem 0 0 1rem;
    }
    p {
        margin: 0 0 0 1rem;
    }
    .heart {
        display: flex;
        justify-content: flex-end;
        position: relative;
        bottom: 3rem;
        right: 2rem;
        font-size: 2rem;
        @include desktop {
            right: 4rem;
        }
    }
    
}     