.expl {
    height: auto;
    display: block;
    @include desktop {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    &__txt {
        background-color: $color-bgc;
        padding: 2rem;
        text-align: center;
        font-size: 1.5rem;
        @include desktop {
            padding: 30px 50px;
        }
        &--bold {
            @include font-bold;
            font-size: 1.7rem;
            margin: 0;
        }
        &--grey {
            color: rgba(#000, 0.5);
            margin-bottom: 1.9rem;
            font-size: 1.2rem;
            @include desktop {
                margin-bottom: 5rem;
            }
        }
        
    }
    &__fonct {
        margin: 20px 20px 80px 0;
        padding: 0 20px;
        @include font-bold;
        @include tablette {
            display: block;
            margin: 50px 0 80px 0;
        }
        @include desktop {
            padding: 0 50px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 0;
        }
        h2 {
            width: 100%;
            margin: 27.2px 0;
            font-size: 1.7rem;
        }
        ol {
            counter-reset: fonct;
            padding-left: 10px;
            @include tablette {
                padding-left: 20px;
            }
            @include desktop {
                padding: 0;
            }
        }
        li {
            width: 100%;
            margin-bottom: 1.5rem;
            padding: 1.5rem .5rem;
            background-color: $color-bgc;
            border-radius: 1.5rem;
            list-style-type: none;
            counter-increment: fonct;
            font-size: 1.1rem;
            @include box-shadow;
            @include tablette {
                width: auto;
                font-size: 1.2rem;
            }
            @include desktop {
                padding: 1.5rem;
            }
            &:before {
                content: counter(fonct);
                background-color: $color-primary;
                color: #fff;
                padding: .2rem .5rem .1rem .5rem;
                border-radius: 2rem;
                font-size: .9rem;
                position: relative;
                right: 20px;
                @include desktop {
                    right: 40px;
                }
            }
            i {
                color: rgba(#000, 0.5);
                margin-right: 1rem;
                font-size: 1.2rem;
                @include desktop {
                    font-size: 1.5rem;
                }
            }
            &:hover {
                background-color: rgba($color-primary, 0.1);
                transition: background-color 250ms;
            }
            &:hover > i {
                color: $color-primary;
                transition: color 250ms;
            }
        }
    }  
}