$font-title : 'shrikhandregular', cursive, sans-serif;
$font-text: 'robotolight', sans-serif;
$font-bold: 'robotobold', sans-serif;
$color-primary : #9356dc;
$color-secondary : #ff79da;
$color-tertiary : #99e2d0;
$color-bgc : #f6f6f6;
$load-dur: 1200ms;
$breakpoints: (
    mobile:480px,
    tablette:800px
);