$font-title : 'shrikhandregular', cursive, sans-serif;
$font-text: 'robotolight', sans-serif;
$font-bold: 'robotobold', sans-serif;
$color-primary : #9356dc;
$color-secondary : #ff79da;
$color-tertiary : #99e2d0;
$color-bgc : #f6f6f6;
$breakpoints: (
    mobile_small:415px,
    mobile:480px,
    middle:600px,
    tablette:980px
);